node_modules/

dist/
build/

.env

.DS_Store
.env.local        
.env.*.local

cypress/
cypress.config.js
cypress.config.ts
cypress.env.json
cypress.json

cypress/screenshots/
cypress/videos/
cypress/downloads/

.cypress/
.cypress-cache/